.Button {
  padding: 10px 16px;
  border: 0;
  font-weight: bold;
  background-color: rgb(82, 14, 73);
  color: whitesmoke;
  cursor: pointer;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.Button:hover {
  background-color: rgb(99, 38, 77);
}

.Button:active {
  background-color: rgb(108, 35, 81);
}
